@use "../../global" as g;

html {
    scroll-behavior: smooth;
}
.wbr {
    display: inline-block;
}

/* =========================================== */
/*            Survey Monitor Intro             */
/* =========================================== */
.survey-monitor-intro--layout {
    margin-top: g.rem(calc(93 * 0.75));
    margin-bottom: g.rem(72 * 0.75);
    @include g.mq(md) {
        margin-top: g.rem(93);
        margin-bottom: g.rem(72);
    }
}
.survey-monitor-intro__title {
    margin-bottom: g.rem(calc(53 * 0.75));
    text-align: center;
    font-size: g.rem(calc(35 * 0.65));
    font-weight: bold;
    @include g.mq(md) {
        margin-bottom: g.rem(53);
        font-size: g.rem(35);
    }
}
.survey-monitor-intro__wrap {
    display: grid;
    gap: g.rem(calc(46 * 0.75));
    @include g.mq(md) {
        display: grid;
        gap: g.rem(46);
        grid-template-columns: 1fr g.rem(336);
        padding-right: g.rem(7);
    }
}
.survey-monitor-intro__img {
    width: 100%;
    height: max-content;
    @include g.mq(md) {
        width: g.rem(336);
        margin-top: g.rem(7);
    }
}
.survey-monitor-intro__img img {
    width: 100%;
    aspect-ratio: 336/442;
}

/* =========================================== */
/*                   Survey                    */
/* =========================================== */
.survey--layout {
    margin-bottom: g.rem(calc(221 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(221);
    }
}
.survey__title-box {
    margin-bottom: g.rem(calc(26 * 0.75));
    display: flex;
    align-items: center;
    gap: g.rem(10);
    @include g.mq(md) {
        margin-bottom: g.rem(26);
    }
}
.survey__title {
    font-size: g.rem(calc(35 * 0.75));
    font-weight: bold;
    @include g.mq(md) {
        font-size: g.rem(35);
    }
}
.survey__about {
    margin-bottom: g.rem(calc(86 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(86);
    }
}
.survey__reward {
    margin-bottom: g.rem(calc(119 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(119);
    }
}
.survey__faq {
    margin-bottom: g.rem(calc(93 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(93);
    }
}
.survey__monrle {
    margin-bottom: g.rem(calc(93 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(93);
    }
}

/* icon */
.icon {
    display: flex;
    gap: g.rem(6);
    flex-direction: column;
}
.icon__circle {
    width: g.rem(7);
    height: g.rem(7);
    background-color: black;
    border-radius: 50%;

    &:first-child {
        background-color: g.$color_brand_1;
    }
    &:nth-of-type(2) {
        background-color: g.$color_brand_3;
    }
    &:last-child {
        background-color: g.$color_brand_2;
    }
}
/* survey-sec-title */
.survey-sec-title {
    font-size: g.rem(calc(25 * 0.75));
    font-weight: bold;
    @include g.mq(md) {
        font-size: g.rem(25);
    }
}
.survey-sec-title__num {
    font-family: g.$f_montserrat;
    font-size: g.rem(calc(25 * 0.75));
    font-weight: bold;
    color: g.$color_brand_1;;
    margin-right: g.rem(calc(17 * 0.75));
    @include g.mq(md) {
        font-size: g.rem(25);
        margin-right: g.rem(17);
    }
}

/* =========================================== */
/*                Survey About                 */
/* =========================================== */
.survey-about__title {
    margin-bottom: g.rem(calc(-3 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(-3);
    }
}
.survey-about__text {
    margin-bottom: g.rem(16.5);
}
.survey-about__items {
    display: grid;
    gap: g.rem(calc(52 * 0.75));
    @include g.mq(md) {
        gap: g.rem(52);
    }
}
.survey-about-item__dt,
.survey-about-item__dd {
    border-bottom: 1px solid g.$color_border_2;
    border-right: 1px solid g.$color_border_2;
}
.survey-about-item__wrap {
    border: 1px solid g.$color_border_2;
    padding: g.rem(calc(11.5 * 0.75)) g.rem(20);
    background-color: g.$color_brand_1;
    display: flex;
    align-items: center;
    gap: g.rem(calc(22 * 0.75));
    @include g.mq(md) {
        gap: g.rem(22);
        padding: g.rem(11.5) g.rem(27);
    }
}
.survey-about-item__img {
    width: g.rem(calc(55 * 0.75));
    height: g.rem(calc(55 * 0.75));
    @include g.mq(md) {
        width: g.rem(55);
        height: g.rem(55);
    }
}
.survey-about-item__heading {
    color: #fff;
    font-size: g.rem(18);
    line-height: 1.6;
    @include g.mq(md) {
        line-height: 2;
        font-size: g.rem(24);
    }
}
.survey-about-item__dl {
    border-top: 1px solid g.$color_border_2;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    @include g.mq(md) {
        text-align: left;
        grid-template-columns: g.rem(208) 1fr;
    }
}
.survey-about-item__dt {
    padding: g.rem(10) g.rem(20);
    border-left: 1px solid g.$color_border_2;
    font-size: g.rem(calc(16));
    font-weight: 500;
    @include g.mq(md) {
        font-size: g.rem(18);
        padding: g.rem(13) g.rem(27);
    }
}
.survey-about-item__dd {
    padding: g.rem(20);
    text-align: left;
    border-left: 1px solid g.$color_border_2;
    @include g.mq(md) {
        padding: g.rem(16) g.rem(33) g.rem(23) g.rem(23);
        border-left: unset;
    }
}
.survey-about-item__dd--tel {
    @extend .survey-about-item__dd;
    padding-bottom: g.rem(19);
}
.survey-about-item__dd--other {
    @extend .survey-about-item__dd;
    padding-bottom: g.rem(17);
}
.survey-about-item__margin {
    display: block;
    margin-block: g.rem(calc(13 * 0.75)) g.rem(calc(8 * 0.75));
    @include g.mq(md) {
        margin-block: g.rem(13) g.rem(8);
    }
}

/* =========================================== */
/*                Survey Reward                */
/* =========================================== */
.survey-reward__title {
    margin-bottom: g.rem(calc(11 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(11);
    }
}
.survey-reward__wrap {
    margin-bottom: g.rem(calc(27 * 0.75));
    display: grid;
    gap: g.rem(calc(29 * 0.75));
    grid-template-columns: 1fr;
    align-items: center;
    @include g.mq(md) {
        margin-bottom: g.rem(27);
        gap: g.rem(29);
        grid-template-columns: g.rem(114) 1fr;
    }
}
.survey-reward__img {
    width: g.rem(114);
    height: g.rem(114);
    justify-self: center;
}
.survey-reward__img img {
    aspect-ratio: 1/1;
}
.survey-reward__link {
    color: g.$color_brand_1;
    text-decoration: underline;
    text-underline-offset: g.rem(2);
}
.survey-reward__notes {
    margin-bottom: g.rem(calc(44 * 0.75));
    padding-left: 1.1em;
    @include g.mq(md) {
        margin-bottom: g.rem(44);
    }
}
.survey-reward__note {
    font-size: g.rem(12);
    text-indent: -1.4em;
    line-height: calc(24/14);
    @include g.mq(md) {
        font-size: g.rem(14);
    }
}
.survey-reward__mgs-accordion {
    margin-bottom: g.rem(calc(79 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(79);
    }
}

/* mgs-accordion */
.mgs-accordion {
    background-color: g.$color_bg2;
    padding: g.rem(20);
    line-height: 1.6;
    @include g.mq(md) {
        padding-block: g.rem(35) g.rem(44);
        padding-inline: g.rem(43) g.rem(39);
        line-height: 2;
    }
}
.mgs-accordion__summary {
    font-size: g.rem(calc(25 * 0.75));
    font-weight: bold;
    color: g.$color_my_green_stamp;
    display: grid;
    grid-template-columns: 1fr g.rem(23);
    align-items: center;
    @include g.mq(md) {
        cursor: pointer;
        font-size: g.rem(25);
    }
}
.mgs-accordion__summary::-webkit-details-marker {
    /* Safariで表示されるデフォルトの三角形アイコンを消します */
    display: none;
}
.mgs-accordion__toggle {
    position: relative;
    display: inline-block;
    width: g.rem(23);
    height: g.rem(23);
}
.mgs-accordion__toggle::before,
.mgs-accordion__toggle::after {
    display: block;
	content: '';
	background-color: g.$color_my_green_stamp;
	position: absolute;
	width: g.rem(23);
	height: g.rem(2);
	top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: .3s ease-out;
}
.mgs-accordion__toggle::before {
    width: g.rem(2);
	height: g.rem(23);
}
details[open] .mgs-accordion__toggle::before {
    transform: translate(50%, -50%) rotate(90deg);
}
details[open] .mgs-accordion__toggle::after {
    opacity: 0;
}
.mgs-accordion__wrap {
    margin-block: g.rem(calc(17 * 0.75));
    @include g.mq(md) {
        // display: flex;
        margin-block: g.rem(17);
    }
}
.mgs-accordion__img {
    margin-bottom: g.rem(calc(26 * 0.75));
    width: 100%;
    height: max-content;
    @include g.mq(md) {
        margin: g.rem(-5) g.rem(-28) g.rem(10) g.rem(5);
        width: g.rem(478);
        float: right;
    }
}
.mgs-accordion__img img {
    aspect-ratio: 471.05/320.23;
}


/* =========================================== */
/*                 Survey FAQ                  */
/* =========================================== */
.survey-faq__title {
    margin-bottom: g.rem(calc(32 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(32);
    }
}
.survey-faq__nav {
    margin-bottom: g.rem(calc(46 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(46);
    }
}
.survey-faq__nav-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    gap: g.rem(21) 24px;
}
.survey-faq__nav-item {
    border: 1px solid g.$color_brand_1;
}
.survey-faq__nav-item-link {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: g.rem(8) g.rem(23);
}
.survey-faq__nav-item-link::after {
    content: "";
    position: absolute;
    top: 44%;
    right: 16px;
    color: g.$color_brand_1;
    line-height: 1;
    width: g.rem(10);
    height: g.rem(10);
    border: 2px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-50%) rotate(135deg);
}
.survey-faq__groups {
    margin-bottom: g.rem(calc(89 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(89);
    }
}
.survey-faq__group:not(:last-child) {
    margin-bottom: g.rem(calc(52 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(52);
    }
}

/* faq-group */
.faq-group__heading {
    margin-bottom: g.rem(calc(8 * 0.75));
    font-weight: 500;
    font-size: g.rem(calc(24 * 0.75));
    color: g.$color_brand_1;
    @include g.mq(md) {
        margin-bottom: g.rem(8);
        font-size: g.rem(24);
    }
}
.faq-group__accordion {
    background-color: g.$color_main;

    &:not(:last-child) {
        margin-bottom: g.rem(calc(18 * 0.75));
        @include g.mq(md) {
            margin-bottom: g.rem(18);
        }
    }
}
.faq-group__summary {
    position: relative;
    font-size: g.rem(calc(25 * 0.75));
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #fff;
    @include g.mq(md) {
        cursor: pointer;
        font-size: g.rem(25);
    }
}
.faq-group__summary::-webkit-details-marker {
    /* Safariで表示されるデフォルトの三角形アイコンを消します */
    display: none;
}
@mixin faq-group__wrap {
    display: grid;
    gap: g.rem(22);
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    padding: g.rem(calc(15 * 0.75)) g.rem(calc(20 * 0.75));
    @include g.mq(md) {
        padding-inline: g.rem(51) g.rem(30);
    }
}
.faq-group__wrap--q {
    @include faq-group__wrap;
    @include g.mq(md) {
        padding-block: g.rem(15) g.rem(12);
    }
}
.faq-group__wrap--a {
    @include faq-group__wrap;
    @include g.mq(md) {
        padding-block: g.rem(16) g.rem(15);
    }
}
@mixin faq-group__qa {
    font-family: g.$f_montserrat;
    font-size: g.rem(calc(35 * 0.75));
    font-weight: bold;
    align-self: start;
    line-height: 1.3;
    @include g.mq(md) {
        font-size: g.rem(35);
    }
}
.faq-group__q {
    @include faq-group__qa;
    color: g.$color_brand_1;
}
.faq-group__a {
    @include faq-group__qa;
    color: g.$color_text_light;
}
.faq-group__q-text {
    font-size: g.rem(calc(18 * 0.75));
    font-weight: 500;
    @include g.mq(md) {
        font-size: g.rem(18);
    }
}
.faq-group__a-link {
    color: g.$color_brand_1;
    text-decoration: underline;
    text-underline-offset: g.rem(2);
}
.faq-group__q-toggle {
    position: relative;
    display: inline-block;
    width: g.rem(23);
    height: g.rem(23);
}
.faq-group__q-toggle::before,
.faq-group__q-toggle::after {
    display: block;
	content: '';
	background-color: g.$color_brand_1;
	position: absolute;
	width: inherit;
	height: 2px;
	top: 42%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: .3s ease-out;
}
.faq-group__q-toggle::before {
    width: 2px;
	height: inherit;
}
details[open] .faq-group__q-toggle::before {
    transform: translate(50%, -50%) rotate(90deg);
}
details[open] .faq-group__q-toggle::after {
    opacity: 0;
}

/* =========================================== */
/*            Survey Monitor Rule              */
/* =========================================== */
.survey-monrle__title {
    margin-bottom: g.rem(calc(9 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(9);
    }
}

/* =========================================== */
/*               Survey Privacy                */
/* =========================================== */
.survey-privacy__title {
    margin-bottom: g.rem(calc(9 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(9);
    }
}
.survey-privacy__scroll {
    margin-bottom: g.rem(calc(93 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(93);
    }
}

/* =========================================== */
/*                   Common                    */
/* =========================================== */
.scroll {
    height: g.rem(calc(319 * 0.75));
    overflow-y: scroll;
    border: 1px solid g.$color_border_3;
    padding-top: g.rem(25);
    padding-inline: g.rem(20);
    @include g.mq(md) {
        height: g.rem(319);
        padding-block: g.rem(42);
        padding-inline: g.rem(38) g.rem(30);
    }
}
.scroll__content:not(:last-child) {
    margin-bottom: g.rem(calc(28 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(28);
    }
}
.scroll__content-heading {
    margin-bottom: g.rem(calc(11 * 0.75));
    font-size: g.rem(calc(20 * 0.75));
    font-weight: 500;
    line-height: calc(26/20);
    @include g.mq(md) {
        margin-bottom: g.rem(11);
        font-size: g.rem(20);
    }
}
.scroll__content-items {
    list-style-type: decimal;
    list-style-position: inside;
}
.scroll__content-item {
    line-height: calc(32/16);
    padding-left: 1.5em;
    text-indent: -1em;
}
.scroll__content-text {
    margin-bottom: g.rem(calc(27 * 0.75));
    @include g.mq(md) {
        margin-bottom: g.rem(27);
    }
}
.scroll__content-text--last {
    margin-top: g.rem(calc(25 * 0.75));
    @include g.mq(md) {
        margin-top: g.rem(25);
    }
}