/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
.research_intro {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .research_intro {
    padding: 68px 0 57px;
  }
}
.research_intro .c_low_intro_title {
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .research_intro .c_low_intro_title {
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 768px) {
  .research_intro .c_low_intro_desc {
    padding: 0 2px;
  }
}

.problems {
  padding: 0 0 60px;
}
@media screen and (min-width: 768px) {
  .problems {
    padding: 116px 0 62px;
  }
}
@media screen and (min-width: 768px) {
  .problems .block_wrap_title {
    margin-bottom: 47px;
  }
}
.problems_desc {
  letter-spacing: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .problems_desc {
    margin-bottom: 44px;
  }
}
.problems_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.problems_item {
  width: 100%;
  background: #F5FAFB;
  padding: 35px 30px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .problems_item {
    width: calc(32% - 11px);
    padding: 50px 45px 45px;
    margin-bottom: 40px;
  }
}
.problems_item .ttl {
  text-align: center;
  font-weight: bold;
  color: #2C68C9;
  font-size: 1.375rem;
  letter-spacing: 0;
  line-height: 1.6em;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .problems_item .ttl {
    font-size: 1.5625rem;
    margin-bottom: 13px;
  }
}

.point {
  padding: 60px 0;
  background: linear-gradient(90deg, rgb(44, 104, 192) 0%, rgb(102, 172, 192) 100%);
}
@media screen and (min-width: 768px) {
  .point {
    padding: 119px 0 97px;
  }
}
.point .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .point .container {
    flex-wrap: nowrap;
  }
}
.point_img {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  margin: 0 auto 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .point_img {
    margin: 0;
    width: 340px;
    left: -4px;
  }
}
.point_img img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.point_list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .point_list {
    width: 774px;
  }
}
.point_item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .point_item {
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 46px;
  }
}
.point_item:last-child {
  margin-bottom: 0;
}
.point_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  margin: 0 auto 10px;
  background: #fff;
  border-radius: 5.3333333333vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #2C68C9;
  padding: 10px 25px 7px;
}
@media screen and (min-width: 768px) {
  .point_heading {
    width: 101px;
    margin: 0 10px 0 0;
    border-radius: 20px;
    padding: 8px 5px 7px;
  }
}
.point_heading_txt {
  position: relative;
  display: inline-block;
  line-height: 1;
  font-size: 0.875rem;
  margin-right: 3px;
  text-transform: capitalize;
  top: 2px;
}
@media screen and (min-width: 768px) {
  .point_heading_txt {
    font-size: 0.875rem;
    margin-right: 3px;
    top: 4px;
  }
}
.point_heading_num {
  display: inline-block;
  line-height: 1;
  font-size: 1.375rem;
}
@media screen and (min-width: 768px) {
  .point_heading_num {
    font-size: 1.5625rem;
  }
}
.point_heading_ttl {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .point_heading_ttl {
    font-size: 1.5625rem;
    margin-bottom: 15px;
  }
}
.point .desc {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .point .desc {
    letter-spacing: -0.01em;
  }
}

.high_quality {
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .high_quality {
    padding: 96px 0;
  }
}
@media screen and (min-width: 768px) {
  .high_quality .block_wrap_title {
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 768px) {
  .research_flow .block_wrap_title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .research_qa .block_wrap_title {
    margin-bottom: 61px;
  }
}

/*# sourceMappingURL=research.css.map */
