/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
.little_red_riding_hood img {
  height: auto;
  display: block;
  object-fit: initial;
}

.footer {
  margin-top: 0;
}

.once_upon_a_time {
  position: relative;
  padding-top: 50px;
  padding-bottom: 174px;
}

.there_was_a_dear_little_girl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.there_was_a_dear_little_girl img {
  height: 100%;
  object-fit: cover;
}

.who_was_loved_by_every_one {
  padding-top: 178px;
  padding-left: 4.3125vw;
  padding-bottom: 220px;
}

.who_looked_at_her {
  width: 463px;
  position: relative;
}

.but_most_of_all_by_her_grandmother {
  width: 100%;
  position: relative;
}
.but_most_of_all_by_her_grandmother title-ic-rounded {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5428571429;
  color: #44474E;
  font-size: 2.1875rem;
}

.and_there_was_nothing {
  position: absolute;
  display: flex;
}
.and_there_was_nothing .l {
  width: 116px;
}
.and_there_was_nothing .r {
  width: 316px;
  margin-left: 35px;
}
.and_there_was_nothing i-circle {
  display: block;
  position: relative;
}
.and_there_was_nothing i-circle::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #4D4D4D;
  position: absolute;
}
.and_there_was_nothing i-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.25rem;
  display: block;
}
.and_there_was_nothing i-desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7857142857;
  color: #44474E;
  font-size: 0.875rem;
  margin-top: 10px;
  display: block;
}
.and_there_was_nothing.color3 {
  top: -109px;
  left: 329px;
}
.and_there_was_nothing.color3 i-circle::after {
  top: 108%;
  left: 35%;
  transform: translate(-100%, -100%) rotate(-60deg);
}
.and_there_was_nothing.color3 i-title {
  color: #FDAE48;
}
.and_there_was_nothing.color2 {
  top: 169px;
  left: 489px;
}
.and_there_was_nothing.color2 i-circle::after {
  top: 50%;
  left: 0;
  transform: translateX(-100%);
}
.and_there_was_nothing.color2 i-title {
  color: #48A5D9;
}
.and_there_was_nothing.color1 {
  top: 446px;
  left: 329px;
}
.and_there_was_nothing.color1 i-circle::after {
  top: -8%;
  left: 35%;
  transform: translate(-100%, -100%) rotate(60deg);
}
.and_there_was_nothing.color1 i-title {
  color: #9FC150;
}

.one_day_her_mother_said_to_her {
  padding-top: 28px;
  padding-bottom: 195px;
  position: relative;
  background-color: #fbfbfb;
}
.one_day_her_mother_said_to_her i-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
}
.one_day_her_mother_said_to_her .c_low_intro_title {
  margin-bottom: 118px;
}
.one_day_her_mother_said_to_her .block_wrap_title {
  margin-bottom: 22px;
}
.one_day_her_mother_said_to_her .block_wrap_title + .text_lead {
  margin-top: 47px;
}
.one_day_her_mother_said_to_her .text_desc {
  margin-bottom: 30px;
}
.one_day_her_mother_said_to_her .text_desc + .block_wrap_title {
  margin-top: 94px;
}
.one_day_her_mother_said_to_her .text_lead {
  margin-bottom: 35px;
}

.come_little_red_riding_hood {
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
}

.here_is_a_piece_of_cake_and_a_bottle_of_wine {
  width: calc(33.33% - 20px);
  display: block;
  position: relative;
  padding-top: 56px;
  padding-bottom: 50px;
  text-align: center;
}
.here_is_a_piece_of_cake_and_a_bottle_of_wine i-icon-image {
  width: 76px;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.here_is_a_piece_of_cake_and_a_bottle_of_wine i-title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.6;
  color: #FFF;
  font-size: 1.75rem;
  display: block;
}
.here_is_a_piece_of_cake_and_a_bottle_of_wine i-desc {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7777777778;
  color: #FFF;
  font-size: 1.125rem;
  margin-top: 15px;
  display: block;
}
.here_is_a_piece_of_cake_and_a_bottle_of_wine i-icon-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  right: 5px;
  transform: rotate(45deg);
}

.take_them_to_your_grandmother {
  background-color: #1D4156;
  padding-top: 95px;
  padding-bottom: 98px;
}

.she_is_ill_and_weak {
  margin-top: -3px;
  display: flex;
  justify-content: space-between;
}

.and_they_will_do_her_good {
  width: calc(33.33% - 27px);
}
.and_they_will_do_her_good i-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #FFF;
  font-size: 1rem;
  display: block;
}

.set_out_before_it_gets_hot {
  position: relative;
  margin-bottom: 28px;
}
.set_out_before_it_gets_hot i-order {
  width: 192px;
  height: 165px;
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -1px;
  padding-top: 9px;
  padding-left: 17px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  line-height: 1.2;
  font-weight: 700;
}
.set_out_before_it_gets_hot i-order::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #1D4156;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.set_out_before_it_gets_hot i-tag {
  font-size: 0.875rem;
  display: block;
}
.set_out_before_it_gets_hot i-num {
  font-size: 1.5625rem;
}

@media only screen and (min-width: 1601px) {
  .who_was_loved_by_every_one {
    padding-left: 69px;
  }
}
@media only screen and (max-width: 1024px) {
  .who_was_loved_by_every_one {
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
  }
  .who_was_loved_by_every_one .md_scroll {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
  }
  .who_looked_at_her {
    width: 360px;
  }
  .but_most_of_all_by_her_grandmother title-ic-rounded {
    font-size: 1.5rem;
  }
  .and_there_was_nothing .l {
    width: 80px;
  }
  .and_there_was_nothing .r {
    width: 316px;
    margin-left: 15px;
  }
  .and_there_was_nothing.color3 {
    top: -78px;
    left: 266px;
  }
  .and_there_was_nothing.color2 {
    top: 136px;
    left: 390px;
  }
  .and_there_was_nothing.color1 {
    top: 353px;
    left: 266px;
  }
  .come_little_red_riding_hood {
    flex-wrap: wrap;
  }
  .here_is_a_piece_of_cake_and_a_bottle_of_wine {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .she_is_ill_and_weak {
    flex-wrap: wrap;
  }
  .and_they_will_do_her_good {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .mv_low_ttl.c_white .ttl_en,
.mv_low_ttl.c_white .ttl_jp {
    color: #44474E;
  }
  .once_upon_a_time {
    padding-bottom: 80px;
  }
  .who_was_loved_by_every_one {
    margin-left: -20px;
    padding-top: 110px;
    padding-left: 0;
    padding-bottom: 321px;
    overflow: visible;
  }
  .who_was_loved_by_every_one .md_scroll {
    width: 100%;
  }
  .who_looked_at_her {
    width: 232px;
    transform: translateX(-62%);
  }
  .but_most_of_all_by_her_grandmother {
    width: 100%;
    position: relative;
  }
  .but_most_of_all_by_her_grandmother title-ic-rounded {
    display: none;
  }
  .and_there_was_nothing {
    position: absolute;
    display: flex;
  }
  .and_there_was_nothing .l {
    width: 58px;
  }
  .and_there_was_nothing .r {
    width: 58.6666666667vw;
    margin-left: 14px;
  }
  .and_there_was_nothing i-title {
    font-size: 1.125rem;
    line-height: 1.55;
    margin-top: 3.125vw;
  }
  .and_there_was_nothing i-desc {
    font-size: 0.75rem;
    line-height: 1.5;
  }
  .and_there_was_nothing.color3 {
    top: -100px;
    left: 165px;
  }
  .and_there_was_nothing.color3 i-circle::after {
    width: 57px;
    top: 85px;
    left: 43px;
    transform: translate(-100%, -100%) rotate(-70deg);
  }
  .and_there_was_nothing.color2 {
    top: 84px;
    left: 246px;
    display: block;
  }
  .and_there_was_nothing.color2 .r {
    margin-top: 9px;
    margin-left: 0;
  }
  .and_there_was_nothing.color2 i-circle::after {
    width: 20px;
  }
  .and_there_was_nothing.color1 {
    top: 317px;
    left: 165px;
    display: block;
  }
  .and_there_was_nothing.color1 .r {
    width: 83.75vw;
    margin-top: 9px;
    margin-left: 0;
  }
  .and_there_was_nothing.color1 i-circle::after {
    width: 112px;
    top: -50px;
    left: 68px;
    transform: translate(-100%, -100%) rotate(80deg);
  }
  .one_day_her_mother_said_to_her {
    padding-bottom: 60px;
  }
  .one_day_her_mother_said_to_her .c_low_intro_title {
    margin-bottom: 40px;
  }
  .one_day_her_mother_said_to_her .text_desc + .block_wrap_title {
    margin-top: 40px;
  }
  .one_day_her_mother_said_to_her .text_lead {
    margin-bottom: 10px;
  }
  .come_little_red_riding_hood {
    display: block;
  }
  .here_is_a_piece_of_cake_and_a_bottle_of_wine {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .here_is_a_piece_of_cake_and_a_bottle_of_wine i-icon-image {
    width: 40px;
    height: 50px;
  }
  .here_is_a_piece_of_cake_and_a_bottle_of_wine i-title {
    font-size: 1.375rem;
  }
  .here_is_a_piece_of_cake_and_a_bottle_of_wine i-desc {
    font-size: 1rem;
    margin-top: 0;
  }
  .take_them_to_your_grandmother {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .she_is_ill_and_weak {
    display: block;
    margin-top: 40px;
  }
  .and_they_will_do_her_good {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .and_there_was_nothing i-title {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=advantage.css.map */
