@use "../global"as g;

/*!
component > footer
------------------------------
*/
.footer {
    img {
        vertical-align: initial;
        height: 100%;
    }

    margin-top: 100px;
    // background-color: #E5E5E5;

    &_container {
        position: relative;
        z-index: 1;
        padding-top: 87px;
        padding-bottom: 90px;

        &_bi {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &_content {}

    &_title {
        @include g.fonts(0, 30, 700, 50, 0, #FFF);
        font-size: g.rem(30);

        text-align: center;
    }

    &_contact {
        display: flex;
        justify-content: space-between;

        margin-top: 41px;

        .box {
            // width: g.vw(560);
            width: calc(50% - 20px);
            max-width: 560px;

            border: 10px solid rgba($color: #FFF, $alpha: .5);

            padding-bottom: 40px;

            .nav_link {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        &_phone {
            padding-top: 57px;
            text-align: center;

            .text_small {
                @include g.fonts(0, 22, 700, 28, 0, #FFF);
                font-size: g.rem(22);
            }

            .phone_number {
                @include g.fonts(g.$f_montserrat, 45, 700, 45*1.5, 0, #FFF);
                font-size: g.rem(45);
            }

            .small {
                @include g.fonts(0, 30, 700, 60, 0, #FFF);
                font-size: g.rem(30);
                text-transform: uppercase;
                margin-right: 20px;
            }

            .mx_auto {
                display: inline-block;
                text-align: left;
            }
        }

        &_using_form {
            text-align: center;
            padding-top: 39px;

            .text {
                @include g.fonts(0, 22, 700, 28, 0, #FFF);
                font-size: g.rem(22);
            }

            .direc {
                // width: g.vw(326);
                // height: g.vw(72);
                width: 326px;
                max-width: 80%;
                height: 72px;

                margin-top: 25px;
                margin-left: auto;
                margin-right: auto;

                display: flex;
                align-items: center;
                justify-content: center;

                @include g.fonts(0, 18, 700, 23, 0, #FFF);
                font-size: g.rem(18);

                background-color: #264154;
            }
        }
    }

    &_logo {
        width: 312px;
        max-width: 100%;
    }

    &_menu {
        display: flex;

        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;

        .l {
            width: 450px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .r {
            width: calc(100% - 450px);
            border-left: 1px solid rgba($color: #E5E5E5, $alpha: .48);
        }

        &_item {
            @include g.fonts(0, 16, 500, 32, 0, #292C31);
            font-size: g.rem(16);
            margin-left: 16px;
            margin-right: 16px;
        }

        .language {
            width: 210px;
            height: 100%;

            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            @include g.fonts(g.$f_montserrat, 14, 500, 16, 0, #737882);
            font-size: g.rem(14);

            border-left: 1px solid rgba($color: #E5E5E5, $alpha: .48);

            icon-image {
                width: 16px;
                margin-right: 6px;
            }
        }

        .layer_1 {
            height: 100px;
            display: flex;
            align-items: center;

            padding-left: 20px;
            border-bottom: 1px solid rgba($color: #E5E5E5, $alpha: .48);

            .l {}

        }

        .layer_2 {
            padding-top: 20px;
            padding-left: 60px;
            padding-bottom: 17px;
        }

        .copy_right {
            @include g.fonts(0, 14, 400, 24, 0, #44474E);
            font-size: g.rem(14);
        }
    }

    &.en {
        .footer_contact {
            justify-content: center;
        }
    }
}

.feature {
    &_follow_on_bottom {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 1000;
    }

    &_content {
        width: 100%;
        display: flex;
        align-items: center;

        .nav_link {
            width: 33.33%;
            height: 62px;
            display: block;
            text-align: center;
            @include g.fonts(0, 11, 700, 24, 0, #FFF);
            font-size: g.rem(11);
            padding-top: 14px;

            .icon {
                display: block;
                width: 20px;
                min-width: 20px;
                height: 20px;

                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}


@include g.screen_max(1200px) {
    .footer {
        &_menu {
            display: flex;
            flex-wrap: wrap;

            .l {
                width: 100%;
            }

            .r {
                width: 100%;
            }

            &_item {
                font-size: g.rem(16);
            }

            .language {
                margin-left: 0;
            }

            .layer_1 {
                justify-content: space-between;
            }


        }

        &_contact_phone {
            padding-left: 30px;
            padding-right: 30px;

            .text_small,
            .small {
                font-size: g.rem(20);
            }

            .phone_number {
                font-size: g.rem(40);
            }
        }
    }
}

@include g.screen_max(1024px) {
    .footer {
        &_contact_phone {

            .text_small,
            .small {
                font-size: g.rem(16);
            }

            .phone_number {
                font-size: g.rem(30);
            }
        }

        &_contact_using_form {

            .text {
                font-size: g.rem(16);
            }
        }
    }
}

@include g.screen_max(767px) {
    .footer {
        margin-top: 65px;
        padding-bottom: 62px;

        &_container {
            padding-top: 48px;
            padding-bottom: 50px;

            &_bi {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &_content {}

        &_title {
            font-size: g.rem(16);
            text-align: left;
            line-height: 1.6;
        }

        &_contact {
            display: block;
            margin-top: 27px;

            .box {
                width: 375px;
                max-width: 100%;
                height: auto;
                padding-bottom: 10px;
                margin-left: auto;
                margin-right: auto;

                border-width: 10px;

                &+.box {
                    margin-top: 10px;
                }
            }

            &_phone {
                padding-top: 22px;
                // padding-left: 20px;
                padding-right: 0;
                padding-left: 0;

                text-align: center;

                .text_small {
                    font-size: g.rem(16);
                }

                .phone_number {
                    font-size: g.rem(24);
                }

                .small {
                    font-size: g.rem(16);
                }
            }

            &_using_form {
                padding-top: 20px;
                padding-bottom: 12px;

                .text {
                    font-size: g.rem(20);
                    line-height: 1.4;
                }

                .direc {
                    width: 250px;
                    max-width: calc(100% - 20px);
                    height: 72px;

                    margin-top: 10px;
                    font-size: g.rem(18);
                }
            }
        }

        &_menu {

            .l,
            .r {
                width: 100%;
                border: 0;
            }

            .footer_logo {
                width: 100%;
                height: 130px;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 240px;
                    height: auto;
                }


            }

            .nav_link {
                width: 100%;
                height: 60px;
                font-size: g.rem(14);
                color: #292C31;

                display: flex;
                align-items: center;
                padding-left: 30px;
                padding-right: 30px;

                border-bottom: 1px solid rgba($color: #E5E5E5, $alpha: .48);

                .icon_image,
                .icon_arrow {
                    display: block;
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    object-fit: none;
                }

                .icon_image {
                    margin-right: 6px;
                }

                .icon_arrow {
                    margin-left: auto;
                }
            }

            .call_center,
            .research,
            .inside_sales {
                color: #FFF;
                font-size: g.rem(16);
                font-weight: 700;
            }

            .language {
                width: 114px;
                height: 40px;

                margin-top: 18px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 18px;
                font-size: g.rem(14);

                border: 0;
                border-radius: 999px;
                background-color: #F7F7F7;

                .icon_image {
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    margin-right: 6px;
                    display: block;
                }
            }
        }

        .copyright {
            padding-top: 18px;
            padding-bottom: 40px;
            color: #FFF;
            background-color: #00ADC6;
            font-size: g.rem(14);
            text-align: center;
        }
    }
}