@use "../../../global"as g;

.history {
    margin-top: 100px;

    .c_low_ttl01 {
        margin-bottom: 48px;
    }

    .timeline {
        height: 84px;
        display: flex;
        align-items: center;

        background-color: #F5FAFB;

        margin-bottom: 10px;
        padding: 28px 32px;

        .year {
            width: 94px;
            @include g.fonts(g.$f_montserrat, 22, 700, 40, 0, #00ADC6);
            font-size: g.rem(22);
        }

        .month {
            width: 62px;
            @include g.fonts(g.$f_montserrat, 20, 700, 30, 0, #9BA6AF);
            font-size: g.rem(20);
        }

        .detail {
            width: calc(100% - 158px);
            @include g.fonts(0, 18, 700, 25, 0, #44474E);
            font-size: g.rem(18);
        }
    }
}

@include g.mecay {

    .history {
        margin-top: g.vw(100);

        .c_low_ttl01 {
            margin-bottom: g.vw(48);
        }

        .timeline {
            height: g.vw(84);

            margin-bottom: g.vw(10);
            padding: g.vw(28) g.vw(32);

            .year {
                width: g.vw(94);
                font-size: g.vw(22);
            }

            .month {
                width: g.vw(62);
                font-size: g.vw(20);
            }

            .detail {
                width: calc(100% - g.vw(158));
                font-size: g.vw(18);
            }
        }
    }

}


@include g.screen_max(768px) {

    .history {
        margin-top: g.vw(60, 375);

        .c_low_ttl01 {
            margin-bottom: g.vw(20, 375);
        }

        .timeline {
            flex-wrap: wrap;
            height: auto;
            margin-bottom: g.vw(10, 375);
            padding: g.vw(20, 375) g.vw(10, 375);

            .year {
                width: 30%;
                font-size: g.vw(16, 375);
            }

            .month {
                width: 70%;
                font-size: g.vw(16, 375);
            }

            .detail {
                width: 100%;
                font-size: g.vw(14, 375);
                margin-top: g.vw(10, 375);
            }
        }
    }
}