/*!
global > color
------------------------------
*/
$color_basic_text: #44474E;
$color_accent: #1D4156;

$color_main: #F5FAFB;
$color_section: #E6F0F7;
$color_bg:#f6fafb;
$color_bg2: #EFF2EC;

$color_brand_1: #00ADC6;
$color_brand_2: #0096CA;
$color_brand_3: #006DCA;

$color_exclusive_sale: #BDAB74;
$color_exclusive_research: #00ADC7;

$color_dedicated_call_center: #ABC25F;

$color_my_green_stamp: #507433;

$color_text_light: #9BA6AF;
$color_border: #E6EBEF;
$color_border_2: #9ED8E1;
$color_border_3: #707070;