@use "../../global"as g;

/*!
page > contactcenter
------------------------------
*/
.block_title {
    line-height: 2;
}

.any_trouble {
    padding-top: 81px;
}

.magic_box {
    margin-top: 41px;
}

.menu_examples {
    margin-top: 100px;

    padding-top: 94px;
    padding-bottom: 37px;
}

.what_the_amazing {
    margin-top: 250px;

    &_block {
        display: flex;
        flex-wrap: wrap;

        padding-top: 270px;
        padding-bottom: 85px;

        justify-content: space-between;

        .item {
            width: calc(33.33% - 65px);
            margin-bottom: 12px;

            &_image {
                width: 394px;
                max-width: 100%;
                position: absolute;
                top: 11%;
                left: 48%;

                transform: translate(-50%, -50%);

                img {
                    display: block;

                    width: 100%;
                    max-width: 100%;
                    height: auto;
                }
            }

            .order {
                margin-bottom: 18px;
            }

            .tag {
                @include g.fonts(0, 20, 700, 35, 0, #FFF);
                font-size: g.rem(20);
                margin-bottom: 12px;
            }
        }
    }
}

@include g.screen_min(768px) {
    .c_low_intro {
        &_title {
            margin-bottom: g.vw(56);
        }
    }

    .block_wrap_title {
        margin-bottom: g.vw(42);
    }
}

@include g.screen_max(1024px) {

    .what_the_amazing {
        &_block {
            .item {
                width: calc(50% - 10px);

                &_image {
                    width: 300px;
                }
            }
        }
    }
}

@include g.screen_max(767px) {

    .any_trouble {
        padding-top: 20px;
    }

    .menu_examples {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .what_the_amazing {
        margin-top: 50px;

        &_block {
            display: block;
            padding-top: 40px;
            padding-bottom: 40px;

            .item {
                width: 100%;
                margin-bottom: 40px;

                &_image {
                    width: 400px;
                    max-width: 80%;

                    position: relative;
                    top: 0;
                    left: 0;

                    margin-left: auto;
                    margin-right: auto;

                    transform: none;
                }
            }
        }
    }
}